body {
  background-color: rgb(207, 248, 248);
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: rgb(207, 248, 248);
}

.headerTitle {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: 33px;
}

.headerImg {
  margin-top: 50px;
  height: 300px;
  border-radius: 15px;
}

.headerPhrase {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.toDoContainer {
  width: 600px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  border-radius: 13px;
  background-color: rgb(242, 160, 242);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.toDoCreateForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.toDoInput {
  padding: 10px;
  border-radius: 3px;
  width: 90%;
}

.toDoInputUpdate {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.buttonCreate {
  border-radius: 5px;
  margin-top: 15px;
  background-color: yellow;
  padding: 15px 20px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  border: 2px solid red;
  transition: background-color 0.3s ease;
}

.buttonCreate:hover {
  background-color: rgb(123, 243, 123);
}

.toDosContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.toDo {
  padding: 10px;
  /*background-color: rgb(145, 242, 97);*/
  background-color: rgb(250, 236, 236);
  margin-bottom: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50px;
}

.toDoTitle {
  flex: 1;
  font-size: 20px;
  margin-left: 10px;
}

.toDoUpdateForm,
.toDoInfo {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
  width: 100%;
}

.button {
  border: none;
  border-radius: 3px;
  background-color: rgb(59, 56, 244);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonDelete {
  margin-left:10px;
  border: none;
  border-radius: 3px;
  background-color: rgba(236, 17, 6, 0.808);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
